a.visited {
	color: #ff00ff;
}

a.footer {
	text-decoration: none;
}

li>a {
	padding-left: 10px;
	padding-right: 10px;
	background: #4ec9f4;
	text-decoration: none;
	color: #ffffff;
}

li {
	margin: 1em 0;
}

ul#projects {
	margin: 5%;
	list-style-type: none;
}

a.content {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff; /* silver: #a9a9a9 */
	text-decoration: none;
	background: #4ec9f4;
}

li.projects {
}

br {
   display: block;
   margin: 5px 0;
}

#content {
	margin-left: 2%;
	font-family: 'Raleway', sans-serif;
	font-size: 50pt;
}

#footer {
	font-family: 'Raleway', sans-serif;
	font-size: 36pt;
	position: fixed;     
	text-align: center;    
	bottom: 3%; 
	width: 100%;
}


