a.visited {
	color: #ff00ff;
}

a.content {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff; /* silver: #a9a9a9 */
	text-decoration: none;
	background: #ff8500;
}

br {
	display: block;
	margin: 5px 0;
}

#content {
	margin-left: 2%;
	font-family: 'Raleway', sans-serif;
	font-size: 50pt;
}

span {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
}
